html 
    head 
        title='Tours & Packages'
        link(rel="stylesheet", href="style.css")
    body 
        h1='ABC Tours'
        a(href='/packages') Packages |
        p='We have best Packages to choose from!!'